@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

body{
    /*background-color: red;*/
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-costos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-costos figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.header {
    height: 450px;
    background: url(img/header.jpg) no-repeat center top;
    background-size: cover;

}

.navbar {
    height: 63px;
    background: #ff69b4; 
    border-bottom: 1px dashed #d6e199; 
}

.navbar a {
    padding: 0 20 px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px;
}

.title {
    margin-bottom: 40px;
    font: 60px;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
}


.content {
    padding: 80px 0;
}

.abo {
    background: #ff9000;
    color: #fff;
}

.abo p {
    max-width: 1055px;
    margin: 0 auto;
    
}

.costos {
    background: #ffb6c1;
    color: #fff;

}

.containt {
    max-width: 1055px;
    margin: 0;
}

.costos p {
    max-width: 450;
}

.list-costos figure {
    position: relative;
    width: 100;
    height: 100px;
}

.list-costos figure::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background: #ff9000;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.list-costos img {
    position: relative;
    z-index: 1;

}

.list-costos li {
    padding: 0 30px;
}

.list-costos figcaption {
    position:absolute;
    left: 0;
    right: 0;
    bottom: -40px;

}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }